<!-- Header -->
<header class="p-3 text-bg-dark">
  <div class="container text-center">
    <h1 class="display-4 mb-1">SamTusingDesign</h1>
  </div>

  <nav class="navbar navbar-expand navbar-dark bg-dark mt-3">
    <div class="container">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32"></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
        <li><a href="/featured" class="nav-link px-2 text-white">Features</a></li>
        <li><a href="/projects" class="nav-link px-2 text-white">Projects</a></li>
        <li><a href="/about" class="nav-link px-2 text-white">About</a></li>
        <li><a href="/contact" class="nav-link px-2 text-white">Contact</a></li>
      </ul>

      <div class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 text-center">
        <button id="button" type="button" class="btn btn-primary">Connect Wallet</button>
      </div>
    </div>
  </nav>
</header>
