<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/images/plague-doc.jpg">
  <title>Landscapes</title>
  <meta name="author" content="Samantha J. Tusing">
  <!-- <meta name="description" content="A page to contact artist."> -->

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
 <link rel="stylesheet" href="/css/aboutstyle.css">
</head>

<body>
  <!-- Header -->
 <header>
  <%- include('header'); %>
  </header>

    <main>
    <div class="spacer"></div>
    <div class="display-5 justify-content-center text-center text-white">Landscapes</div>

    <section class="container my-5">
  <div class="row justify-content-center g-4">

    <!-- Gallery Item 1 -->
<div class="col-6 col-sm-4 col-md-3 col-lg-2">
  <div class="gallery-card shadow-sm rounded overflow-hidden text-center">
    <img 
      src="https://tusing-nft-mint-cdn.sfo3.cdn.digitaloceanspaces.com/images/landscape1.jpg"
      class="img-fluid gallery-item"
      alt="landscape 1"
      data-full="https://tusing-nft-mint-cdn.sfo3.cdn.digitaloceanspaces.com/images/landscape1.jpg"
      data-caption="peek of Italy"
    >
    <div class="caption mt-2 text-white small">peek of Italy</div>
  </div>
</div>

<!-- Gallery Item 2 -->
<div class="col-6 col-sm-4 col-md-3 col-lg-2">
  <div class="gallery-card shadow-sm rounded overflow-hidden text-center">
    <img 
      src="https://tusing-nft-mint-cdn.sfo3.cdn.digitaloceanspaces.com/images/landscape2.jpg"
      class="img-fluid gallery-item"
      alt="landscape 2"
      data-full="https://tusing-nft-mint-cdn.sfo3.cdn.digitaloceanspaces.com/images/landscape2.jpg"
      data-caption="Tuscany"
    >
    <div class="caption mt-2 text-white small">Tuscany</div>
  </div>
</div>

<!-- Gallery Item 3 -->
<div class="col-6 col-sm-4 col-md-3 col-lg-2">
  <div class="gallery-card shadow-sm rounded overflow-hidden text-center">
    <img 
      src="https://tusing-nft-mint-cdn.sfo3.cdn.digitaloceanspaces.com/images/landscape3.jpg"
      class="img-fluid gallery-item"
      alt="landscape 3"
      data-full="https://tusing-nft-mint-cdn.sfo3.cdn.digitaloceanspaces.com/images/landscape3.jpg"
      data-caption="agriturismo"
    >
    <div class="caption mt-2 text-white small">agriturismo</div>
  </div>
</div>

<!-- Gallery Item 4 -->
<div class="col-6 col-sm-4 col-md-3 col-lg-2">
  <div class="gallery-card shadow-sm rounded overflow-hidden text-center">
    <img 
      src="https://tusing-nft-mint-cdn.sfo3.cdn.digitaloceanspaces.com/images/landscape4.jpg"
      class="img-fluid gallery-item"
      alt="landscape 4"
      data-full="https://tusing-nft-mint-cdn.sfo3.cdn.digitaloceanspaces.com/images/landscape4.jpg"
      data-caption="Colorado"
    >
    <div class="caption mt-2 text-white small">Colorado</div>
  </div>
</div>

<!-- Gallery Item 5 -->
<div class="col-6 col-sm-4 col-md-3 col-lg-2">
  <div class="gallery-card shadow-sm rounded overflow-hidden text-center">
    <img 
      src="https://tusing-nft-mint-cdn.sfo3.cdn.digitaloceanspaces.com/images/landscape5.jpg"
      class="img-fluid gallery-item"
      alt="landscape 5"
      data-full="https://tusing-nft-mint-cdn.sfo3.cdn.digitaloceanspaces.com/images/landscape5.jpg"
      data-caption="mele kalikimaka"
    >
    <div class="caption mt-2 text-white small">mele kalikimaka</div>
  </div>
</div>

<!-- Gallery Item 6 -->
<div class="col-6 col-sm-4 col-md-3 col-lg-2">
  <div class="gallery-card shadow-sm rounded overflow-hidden text-center">
    <img 
      src="https://tusing-nft-mint-cdn.sfo3.cdn.digitaloceanspaces.com/images/landscape6.jpg"
      class="img-fluid gallery-item"
      alt="landscape 6"
      data-full="https://tusing-nft-mint-cdn.sfo3.cdn.digitaloceanspaces.com/images/landscape6.jpg"
      data-caption="beachy"
    >
    <div class="caption mt-2 text-white small">beachy</div>
  </div>
</div>

<!-- Gallery Item 7 -->
<div class="col-6 col-sm-4 col-md-3 col-lg-2">
  <div class="gallery-card shadow-sm rounded overflow-hidden text-center">
    <img 
      src="https://tusing-nft-mint-cdn.sfo3.cdn.digitaloceanspaces.com/images/art1.jpg"
      class="img-fluid gallery-item"
      alt="landscape 7"
      data-full="https://tusing-nft-mint-cdn.sfo3.cdn.digitaloceanspaces.com/images/art1.jpg"
      data-caption="wave"
    >
    <div class="caption mt-2 text-white small">wave</div>
  </div>
</div>

<!-- Gallery Item 8 -->
<div class="col-6 col-sm-4 col-md-3 col-lg-2">
  <div class="gallery-card shadow-sm rounded overflow-hidden text-center">
    <img 
      src="https://tusing-nft-mint-cdn.sfo3.cdn.digitaloceanspaces.com/images/art2.jpg"
      class="img-fluid gallery-item"
      alt="landscape 8"
      data-full="https://tusing-nft-mint-cdn.sfo3.cdn.digitaloceanspaces.com/images/art2.jpg"
      data-caption="Big Sur"
    >
    <div class="caption mt-2 text-white small">Big Sur</div>
  </div>
</div>

<!-- Gallery Item 9 -->
<div class="col-6 col-sm-4 col-md-3 col-lg-2">
  <div class="gallery-card shadow-sm rounded overflow-hidden text-center">
    <img 
      src="https://tusing-nft-mint-cdn.sfo3.cdn.digitaloceanspaces.com/images/art3.jpg"
      class="img-fluid gallery-item"
      alt="landscape 9"
      data-full="https://tusing-nft-mint-cdn.sfo3.cdn.digitaloceanspaces.com/images/art3.jpg"
      data-caption="cliff"
    >
    <div class="caption mt-2 text-white small">cliff</div>
  </div>
</div>


    <div class="modal fade" id="galleryModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content bg-dark">
      <div class="modal-body p-0 text-center">
        <img id="modalImage" src="" class="img-fluid rounded" alt="Full artwork">
        <div id="modalCaption" class="text-white py-2"></div>
      </div>
    </div>
  </div>
</div>

  </div>
</section>

<!-- Custom CSS -->
<style>
  .gallery-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }

  .gallery-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
  }

  .gallery-item {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
  }
</style>

<script>
  const galleryItems = document.querySelectorAll('.gallery-item');
  const modalImage = document.getElementById('modalImage');
  const modalCaption = document.getElementById('modalCaption');

  galleryItems.forEach(item => {
    item.addEventListener('click', () => {
      modalImage.src = item.dataset.full;
      modalCaption.textContent = item.dataset.caption;
      const modal = new bootstrap.Modal(document.getElementById('galleryModal'));
      modal.show();
    });
  });
</script>


     <!-- Footer -->
 <div class="container-fluid">
    <%- include('footer'); %>
  </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
  crossorigin="anonymous"></script>

  </body>
</html>