body {
    background-color:white;

}

.header-spacer {
  height: 120px; /* adjust to match your header's total height */
}

#button {
    background-color: #8cff00;
    color: black;
    border-radius: 12px;
    padding: 0.5rem 1.2rem;
    font-weight: bold;
}


html {
  box-sizing: border-box;
}
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.splash-grid {
  position: relative;        
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  gap: 10px;
  height: 100vh;            
}


.splash-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3rem;
  text-align: center;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
  z-index: 10; 
}

/* Carousel arrow buttons */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #8cff00;  
    border: 4px solid black;
    border-radius: 50%;   
    border-color: black;     
    padding: 10px;            
}

/* Optional: make the default transparent circle smaller */
.carousel-control-prev,
.carousel-control-next {
    width: 50px; 
    height: 50px;
}

